@media (min-width: 860px) {
    /* Menu */
    #menu-button{
        display: none;
    }

    ul.menu-links, ul.menu-links.open{
        display: flex;
        height: 6rem;
        justify-content: center;
    }

    ul.menu-links a:hover{
        color: var(--secondary-color)
    }

    /* Body section of the home page */

    main{
        margin: 0 auto;
        width: 85%;
    }

    /* Hero */

    section.hero{
        height: 35rem;
        overflow: hidden;
    }

    section.hero picture img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    /* Main content */

    #info{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 28rem 22rem;
        grid-template-rows: 1fr;
    }

    div.home-cards > ul, div.home-cards > div#forecast{
        flex-grow: 1;
    }

    div.home-cards > ul li{
        font-size: 1.5rem;
    }

    /* Weather */

    #current-weather{
        flex-grow: 1;
        gap: .5rem;
    }

    #current-weather p{
        font-size: 1.3rem;
    }

    /* Spotlight */

    #spotlight{
        display: flex;
        flex-direction: row;
    }

    /* Body section of the directory page */

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .list{
        section.directory-section{
            img {
                max-width: 15rem;
            }
            p{
                font-size: 1.8rem;
            }
        }
    }

    /* Footer */

    footer{
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    footer ul{
        width: 30%;
    }
}