@media (min-width: 760px) {
    /* Menu */
    #menu-button{
        display: none;
    }

    ul.menu-links, ul.menu-links.open{
        display: flex;
        height: 6rem;
        justify-content: center;
    }

    ul.menu-links a:hover{
        color: var(--secondary-color)
    }

    /* Body section of the home page */

    section.hero{
        height: 35rem;
        overflow: hidden;
    }

    section.hero picture img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    /* Body section of the directory page */

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .list{
        section.directory-section{
            img {
                max-width: 15rem;
            }
            p{
                font-size: 1.8rem;
            }
        }
    }

    /* Footer */

    footer{
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    footer ul{
        width: 30%;
    }
}