:root{
    --primary-color: #2667cdff;
    --secondary-color: #ee6352;
    --primary-font: 'Nunito', Segoe UI, sans-serif;;
    --secondary-font: 'Ubuntu', Segoe UI, sans-serif;;
    --dark: #11151cff;
    --dark-grey: #7a7b7b;
    --white: #f4faffff;
    --grey: #c0c9c9;
}

*{
    border: none;
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    width: 100%;
}

h1, h2, h3, button{
    font-family: var(--primary-font);
}

a, p, span, figcaption, li{
    font-family: var(--secondary-font);
}

header{
    align-items: start;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 4rem;
    width: 100%;
}

.logo{
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 30rem;
    padding: 2rem;
}

.logo img{
    border-radius: 5rem;
    box-shadow: .1rem .1rem 1.5rem #11151cff;
    width: 5rem;
}

.logo p{
    color: var(--white);
    text-align: center;
}

.logo p:nth-child(1){
    font-size: 1.8rem;
    font-weight: bold;
}

.logo p:nth-child(2){
    font-size: 1.5rem;
}

#menu-button::before{
    content: "\2630";
}

#menu-button{
    background: none;
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    padding: .75rem 2vw;
    text-align: center;
    width: 100%
}

#menu-button.open::before{
    content: "\2716";
}

nav{
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 0fr;
    grid-column: 1 / span 2;
    transition: grid-template-rows .3s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

ul.menu-links li a{
    align-content: center;
    color: var(--white);
    display: block;
    height: 100%;
    padding: .75rem 3vw;
    text-align: center;
    text-decoration: none;
}

ul.menu-links li.current-menu-item a{
    background-color: rgba(255,255,255,.2);
    font-weight: bold;
}

ul.menu-links{
    list-style-type: none;
}

main{
    padding: 1rem;
}

h1{
    color: var(--dark-grey);
    font-size: 2.5rem;
    text-align: center;
}

.views{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 15rem;    
}

.views button{
    border: .1rem solid var(--primary-color);
    border-radius: .3rem;
    height: 5rem;
    padding: 1rem;
    width: 5rem;
}

.views button img{
    height: 100%;
    width: 100%;
}

#cards-container{
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}

#cards-container section{
    width: 100%;
}

section{
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

section p{
    color: var(--dark-grey);
    text-align: center;
}

.grid {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 3rem;

    h3{
        font-size: 3rem;
        font-weight: bold;
    }

    img{
        width: 90%;
    }
    
    section {
        border-radius: .5rem;
        box-shadow: 0 1rem 1rem .1rem rgba(0,0,0,0.3);
        height: 30rem;
        text-align: center;
        & > * {
            margin: 0.5rem;
        }
    }
}

.list {
    align-items: center;
	display: flex;
	flex-direction: column;

	section {
		display: grid;
        height: 10rem;
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0;
		padding: .1rem;

		& > * {
			margin: .5rem;
		}

		img {
            height: auto;
            margin: auto;
			max-width: 12rem;
            object-fit: contain;
		}

        p{
            font-size: 1.2rem;
        }

        p:nth-child(2), a{
            display: none;
        }

		&:nth-child(even) {
			background-color: rgba(22, 188, 253, 0.253);
		}
	}
}

footer, div.chamber-info, div.course-info{
    align-items: left;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
}

footer ul{
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
}

footer ul li{
    list-style: none;
}

footer ul li a img{
    background-color:var(--white);
    border: .1rem solid var(--white);
    border-radius: 5rem;
    height: 6rem;
}

#lastModified{
    color: yellow;
    font-size: 1.3rem;
}