/* Variables */

:root{
    --primary-color: rgb(25, 77, 160);
    --secondary-color: #ee6352;
    --primary-font: 'Nunito', Segoe UI, sans-serif;;
    --secondary-font: 'Ubuntu', Segoe UI, sans-serif;;
    --dark: #111624;
    --dark-grey: #7a7b7b;
    --white: #f4faffff;
    --grey: #c0c9c9;
}

/* Reset */

*{
    border: none;
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

::backdrop{
    background-color: rgba(0,0,0,.4);
}

/* Text */

h1, h2, h3, h4, button, input, select, textarea{
    font-family: var(--primary-font);
}

a, p, span, figcaption, li, label, legend{
    font-family: var(--secondary-font);
}

/* Header */

header{
    align-items: start;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 4rem;
    width: 100%;
}

.logo{
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 30rem;
    padding: 2rem;
}

.logo img{
    border-radius: 5rem;
    box-shadow: .1rem .1rem 1.5rem #11151cff;
    width: 5rem;
}

.logo p{
    color: var(--white);
    text-align: center;
}

.logo p:nth-child(1){
    font-size: 1.8rem;
    font-weight: bold;
}

.logo p:nth-child(2){
    font-size: 1.5rem;
}

/* Menu */

#menu-button::before{
    content: "\2630";
}

#menu-button{
    background: none;
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    padding: .75rem 2vw;
    text-align: center;
    width: 100%
}

#menu-button.open::before{
    content: "\2716";
}

nav{
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 0fr;
    grid-column: 1 / span 2;
    transition: grid-template-rows .3s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open{
    grid-template-rows: 1fr;
}

ul.menu-links li a{
    align-content: center;
    color: var(--white);
    display: block;
    height: 100%;
    padding: .75rem 3vw;
    text-align: center;
    text-decoration: none;
}

ul.menu-links li.current-menu-item a{
    background-color: rgba(255,255,255,.2);
    font-weight: bold;
}

ul.menu-links{
    list-style-type: none;
}

/* Body section of the home page */

/* Hero */

section.hero{
    margin: auto;
    position: relative;
    width: 100%;
}

section.hero picture img{
    width: 100%;
}

section.hero div{
    background-color: rgba(0,0,0,0.5);
    border-radius: .3rem;
    height: 70%;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

section.hero div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

section.hero div h2, section.hero div p{
    color: var(--white);
    text-align: center;
}

section.hero div h2{
    font-size: 1.8rem;
}

section.hero div p{
    font-size: 1.2rem;
    line-height: 1.5;
}

section.hero div button{
    background-color: var(--secondary-color);
    border-radius: .3rem;
    color: var(--white);
    cursor: pointer;
    height: 5rem;
    font-weight: bold;
    width: 10.5rem;
}

/* Main */

.home-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
    width: 90%;
}

.home-cards{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

div.home-cards h3{
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 2rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
}

#info{
    gap: 1rem;
}

/* Events */

.events-home{
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    list-style-position: inside;
    padding: 2rem;
}

ul.events-home li{
    font-size: 1.2rem;
    text-align: left;
}

/* Weather */

#current-weather{
    display: grid;
    gap: 1rem;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    padding: 1rem;
    width: 100%;
}

#current-weather img{
    grid-area: 1 / 1 / 8 / 2;
    margin: 0 auto;
}

#current-weather p, #forecast p{
    color: var(--dark);
    font-size: 1.2rem;
    text-align: left;
}

#current-weather p span, #forecast p span{
    font-weight: bold;
}

#forecast{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

#forecast p{
    font-size: 1.8rem;
}

/* Spotlight */

section#spotlight div.home-cards{
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
}

#spotlight img{
    height: 6rem;
    gap: 1rem;
    object-fit: contain;
    width: auto;
}

#spotlight p:first-of-type{
    color: var(--dark);
    font-size: 1rem;
    border-bottom: .1rem solid var(--dark-grey);
    padding-bottom: 1rem;
}

#spotlight p{
    color: var(--dark);
    font-size: 1.3rem;
}

#spotlight p span{
    font-weight: bold;
}

/* Body section of the directory page */

main.directory-main, main.join-main{
    padding: 1rem;
}

main.home-main h1, h1.directory-header, main.join-main h1{
    color: var(--dark);
    font-size: 2.5rem;
    margin: .5rem 0;
    text-align: center;
}

.views{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 15rem;    
}

.views button{
    border: .1rem solid var(--primary-color);
    border-radius: .3rem;
    height: 5rem;
    padding: 1rem;
    width: 5rem;
}

.views button img{
    height: 100%;
    width: 100%;
}

#cards-container{
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}

#cards-container section.directory-section{
    width: 100%;
}

section.directory-section{
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

section.directory-section p{
    color: var(--dark-grey);
    text-align: center;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
}

.grid h3{
    font-size: 3rem;
    font-weight: bold;
}

.grid img{
    width: 90%;
}
    
.grid section.directory-section {
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem .1rem rgba(0,0,0,0.3);
    height: 30rem;
    text-align: center;
}

.grid section.directory-section > * {
    margin: 0.5rem;
}

.list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list section.directory-section {
    display: grid;
    height: 10rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: .5rem;
}

.list section.directory-section> * {
    margin: .5rem;
}

.list section.directory-section img {
    height: auto;
    margin: auto;
    max-width: 10rem;
    object-fit: contain;
}

.list section.directory-section p{
    font-size: 1.2rem;
}

.list section.directory-section p:nth-child(2), .list section.directory-section a{
    display: none;
}

.list section.directory-section:nth-child(even) {
    background-color: rgba(22, 188, 253, 0.253);
}

/* Join page */

main{
    background-color: #f6f6f6;
}

main.join-main h1{
    margin-bottom: 1rem;
    text-align: center;
}

/* Form */

form#join-form, aside div.card-join{
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    width: 80%;
}

form#join-form *:not(legend){
    display: block;
    width: 100%;
}

form#join-form h2, form#join-form h3, form#join-form legend{
    color: #07173f;
    font-weight: bold;
}

form#join-form h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

form#join-form legend{
    font-size: 1.5rem;
}

form#join-form label{
    font-size: 1.4rem;
    font-weight: bold;
}

form#join-form input:required, form#join-form select:required{
    border-left: .3rem solid red;
}

form#join-form input:required:valid{
    border-left-color: green;
}

form#join-form fieldset{
    border: .1rem solid #bababa;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

form#join-form fieldset input, textarea, select{
    border: .1rem solid #bababa;
    border-radius: .3rem;
    font-size: 1.25rem;
    margin-top: .5rem;
    padding: .75rem;
}

form#join-form textarea{
    height: 10rem;
    resize: none;
}

form#join-form input[type='submit']{
    cursor: pointer;
}

form#join-form input[type='submit'], aside div.card-join button{
    background-color: var(--primary-color);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: bold;
    height: 5rem;
    margin: auto;
    max-width: 25rem;
}

/* Aside */

main.join-main aside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 80%;
}

main.join-main aside h2{
    margin-top: 2rem;
    text-align: center;
}

aside div.card-join{
    width: 100%;
}

main.join-main aside{
    margin-bottom: 2rem;
}

aside div.card-join button{
    cursor: pointer;
    display: block;
    width: 100%;
}

aside div.card-join button:hover, form#join-form input[type='submit']:hover{
    background-color: #0643a5;
}

/* Thankyou */

main.thankyou{
    background-color: transparent;
}

main.thankyou h1{
    text-align: center;
}

main.thankyou div#results{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    padding: 2rem;
}

main.thankyou div#results p span{
    font-weight: bold;
}

/* Dialog */

dialog{
    background-color: var(--white);
    border: .1rem solid rgba(0,0,0, .1);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--dark-grey);
    margin: auto;
    padding: 2rem;
    max-width: 85%;
}

dialog > *{
    margin-bottom: 1rem;
}

dialog button{
    border: .1rem solid rgba(0,0,0, .1);
    border-radius: .3rem;
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

dialog button:active{
    border: .1rem solid rgba(0,0,0, .1);
}

dialog h3{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

dialog p{
    font-size: 1.5rem;
}

dialog p span{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Discover */

#places-discover{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#places-discover div.place-discover{
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--dark-grey);
    display: grid;
    grid-template-areas:
    "title"
    "pic"
    "desc"
    "addr"
    "btn"
    ;
    overflow: hidden;
    padding: 1rem;
    place-items: center;
}

#places-discover div.place-discover h2, #places-discover div.place-discover address, #places-discover div.place-discover p, #places-discover div.place-discover button{
    padding: 1rem;
}

#places-discover div.place-discover h2{
    grid-area: title;
}

#places-discover div.place-discover picture img{
    grid-area: pic;
    height: auto;
    object-fit: contain;
    max-width: 30rem;
}

#places-discover div.place-discover p{
    grid-area: desc;
}

#places-discover div.place-discover address{
    grid-area: addr;
}

#places-discover div.place-discover button{
    background-color: var(--primary-color);
    border-radius: .3rem;
    color: var(--white);
    grid-area: btn;
}

#greeting{
    height: 20rem;
}

#greeting h3{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* Discover */

/* Footer */

footer, div.chamber-info, div.course-info{
    align-items: flex-start;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
}

footer ul{
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
}

footer ul li{
    list-style: none;
}

footer ul li a img{
    background-color:var(--white);
    border: .1rem solid var(--white);
    border-radius: 5rem;
    height: 6rem;
}

#lastModified{
    color: yellow;
    font-size: 1.3rem;
}

/* Animations */

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes focus {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    25% {
        clip-path: inset(100% 0 0 0);
    }
    50% {
        clip-path: inset(0 100% 0 0);
    }
    75% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}

aside div.card-join{
    animation: show .5s ease-out forwards;
    opacity: 0;
}

aside div.card-join::after{
    animation: focus 2s linear infinite;
    border: .3rem solid var(--primary-color);
    border-radius: .5rem;
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
