@media screen and (min-width: 768px) {
  /*Menu - Start*/
  #menu-button{
    display: none;
  }

  ul.menu-links{
    display: flex;
    height: 6rem;
    justify-content: center;
  }

  ul.menu-links a:hover{
    color: var(--accent-color);
  }
  /*Menu - End*/

  /*Main index - Start*/
  main.main-index, main.main-contact, main.main-success{
    margin: auto;
    max-width: 90rem;
  }
  /*Main index - End*/

  /*Main success - Start*/
  main.main-success h2{
    padding: 1rem;
  }
  /*Main success - End*/

  /*Hero - Start*/
  div.hero{
    height: 35rem;
    overflow: hidden;
  }

  div.hero picture img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  /*Hero - End*/

  /*Tickets - Start*/
  div.tickets{
    display: flex;
  }

  div.ticket:hover {
    box-shadow: 0 0 1.2rem .2rem var(--accent-color);
    transform: scale(1.01);
  }
  /*Tickets - End*/

  /*Footer - Start*/
  footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer ul{
    width: 30%;
  }
  /*Footer - End*/
  
  /*
  .movies-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .movie-card {
    flex: 0 0 30%;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }
  */
}